@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-100 font-sans;
}

@layer base {
  h1 {
    @apply tracking-tight;
  }

  p {
    @apply leading-relaxed;
  }
}
